# See: https://docs.python.org/3/distutils/commandref.html
graft flintrock

include README.md
include CHANGELOG.md
include COPYRIGHT
include LICENSE

global-exclude *.py[cod] __pycache__ .DS_Store
global-exclude config.yaml
